/* таблица стилей */
/* задаем размещение блоков */
#header { background:white; width:800px; height:100px; }
#menu { background:white; width:550px; height:20px; }
#anketa { background:white; width:1000px; height:400px; }
#stroka { background:white; width:1000px; height:30px; }

.body-section {
  margin-right: 10px;
  margin-left: 10px;
}

.page-header
{
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

.page-subHeader
{
  padding: 15px;
  text-align: left;
  font-size: 20px;
}

.footer-section {
  height: 15%;
  margin-right: 10px;
  margin-left: 10px;
}

.body-section {
  height: 85%;
}
