/* таблица стилей */
/* задаем размещение блоков */
#header { background:white; width:800px; height:100px; }
#menu { background:white; width:550px; height:20px; }
#anketa { background:white; width:1000px; height:400px; }
#stroka { background:white; width:1000px; height:30px; }

.content-body-section {
  margin-right: 10px;
  margin-left: 10px;
}

.page-header
{
  padding: 30px;
  text-align: center;
  font-size: 30px;
}

.page-subHeader
{
  padding: 15px;
  text-align: left;
  font-size: 20px;
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer {
  height: 50px;
}
.push {
  height: 50px;
}