<div class="col">
    <div class="card shadow-sm">
        <img id="collageItemImage" class="bd-placeholder-img card-img-top" src="https://blog.webjeda.com/assets/thumbs/custom-domain-to-github.png" width="100%" height: auto; focusable="false"></img>
        <div class="card-body">
          <p id="collageItemText" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
</div>